.container-import {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 965px;
  height: 100%;
  margin: 0 auto;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  outline: 0;
}

.container-import .content-import {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-import .content-import .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-import .content-import .buttons .button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  min-height: 45px;
  height: 100%;
  margin-top: 15px;
  border-radius: 5px;
  background: #0082BF;
  border: 1px solid #ebeced;
  transition: opacity 0.2s;
  cursor: pointer;
}

.container-import .content-import .buttons .button-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  outline: none;
}

.container-import .content-import .buttons .button-area:hover {
  background: #006da1;
  transition: 0.2s background;
}
