<div class="container-notfound">
  <div class="content-notfound">
    <div class="content-background-notfound">
      <div class="image-area">
        <img src="../../assets/HB-Ambev_Logo.png" alt="HBSIS | AMBEV - LOGO">
      </div>
      <div class="content-text">
        <div class="notfound-info">
          <h1>Página não encontrada.</h1>
          <span>A página que você tentou acessar não foi encontrada. Favor inserir um URL válido, ou clique no botão
            abaixo para retorna para a página principal.</span>
        </div>
        <a href="/" class="button-href">
          <span>Retornar a página</span>
        </a>
      </div>
    </div>
  </div>
</div>
