<div *ngIf="authGlobal.authority === 'sistema' || authGlobal.authority === 'gestor'; else acessoNegado">
  <div class="container-aprovacao">
    <div class="content-aprovacao">
      <div class="content-area-aprovacao">
        <app-functionality-button-area></app-functionality-button-area>
        <div class="content-page">
          <div class="header-aprovacao">
            <h2>Gerenciamento de Aprovação de Locação</h2>
          </div>
          <div class="content-actions">
            <div class="alert-area">
              <alert></alert>
            </div>
            <div class="actions-table">
              <div class="dropdown-area">
                <div class="container-area" (click)="openDropdown('dropdown-tipo-veiculo')">
                  <span>{{tipo}}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 9l6 6 6-6" /></svg>
                </div>
                <div id="dropdown-tipo-veiculo" class="container-area-dropped">
                  <div class="select-option" *ngFor="let tipoString of tipos"
                    (click)="selectTipoOnDropdown(tipoString)">
                    <span>{{tipoString}}</span>
                  </div>
                </div>
              </div>
              <div class="dropdown-area">
                <div class="container-area" (click)="openDropdown('dropdown-prioridade')">
                  <span class="tipo-text">{{periodo}}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 9l6 6 6-6" /></svg>
                </div>
                <div id="dropdown-prioridade" class="container-area-dropped">
                  <div class="select-option" *ngFor="let periodoString of periodos"
                    (click)="selectPrioridadeOnDropdown(periodoString)">
                    <span>{{periodoString}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkboxes">
              <div class="content-checkbox">
                <div class="input-checkbox">
                  <label class="container-checkbox" for="input-trabalho-noturno">
                    <input id="input-trabalho-noturno" type="checkbox" name="trabalhoNoturno"
                      [(ngModel)]="form.trabalhoNoturno" #trabalhoNoturno="ngModel">
                    <span class="span-checkmark"></span>
                  </label>
                  <span class="text-checkbox">Horário não comercial. (Noturno)</span>
                </div>
              </div>
            </div>



            <div class="table-area">
              <div class="table-head">
                <div class="content-head">
                  <div class="column colaborador"><span>Colaborador</span></div>
                  <div class="column status">Status</div>
                </div>
              </div>              
              <div class="table-body">
                <div class="content-body">
                  <div *ngIf="isLoading === false; else isloading" class="content-line">
                    <div *ngFor="let vaga of vagas" class="content-user">


                      <div class="nome-colaborador">
                        <span class="nome-completo">{{vaga.colaborador.nome}}</span>
                        <span class="email">{{vaga.colaborador.email}}</span>
                      </div>


                      <div class="status">
                        <span>Em Aprovação</span>
                      </div>
                    </div>
                    <div *ngIf="moreColaboradorThanVagas === false" class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div id="isloading" *ngIf="isLoading === true">
                    <isLoading></isLoading>
                  </div>
                </div>
              </div>
            </div>





            <div class="buttons">
              <div class="items-page-area">
                <select (change)="selectItemsPerPage($event.target.value)" class="items-page">
                  <span>{{itemsPage}}</span>
                  <option *ngFor="let option of itemsPageDefaultNumbers">{{option}}</option>
                </select>
              </div>
              <div *ngIf="moreColaboradorThanVagas === false" class="button-aprove">
                <button>Aprovar todos</button>
              </div>
              <div *ngIf="moreColaboradorThanVagas === true" class="button-sort">
                <button (click)="vagasSorteadas()">Sortear vagas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>