<div *ngIf="authGlobal.authority === 'sistema' || authGlobal.authority === 'gestor'; else acessoNegado">
  <div class="container-aprovacao">
    <div class="content-aprovacao">
      <div class="content-area-aprovacao">
        <app-functionality-button-area></app-functionality-button-area>
        <div class="content-page">
          <div class="header-aprovacao">
            <h2>Gerenciamento de Aprovação de Locação</h2>
          </div>
          <div class="content-actions">
            <div class="alert-area">
              <alert></alert>
            </div>
            <div class="actions-table">
              <div class="dropdown-area">
                <div class="container-area" (click)="openDropdown('dropdown-tipo-veiculo')">
                  <span>{{tipo}}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 9l6 6 6-6" /></svg>
                </div>
                <div id="dropdown-tipo-veiculo" class="container-area-dropped">
                  <div class="select-option" *ngFor="let tipoString of tipos"
                    (click)="selectTipoOnDropdown(tipoString)">
                    <span>{{tipoString}}</span>
                  </div>
                </div>
              </div>
              <div class="dropdown-area">
                <div class="container-area" (click)="openDropdown('dropdown-prioridade')">
                  <span class="tipo-text">{{prioridade}}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 9l6 6 6-6" /></svg>
                </div>
                <div id="dropdown-prioridade" class="container-area-dropped">
                  <div class="select-option" *ngFor="let prioridadeString of prioridades"
                    (click)="selectPrioridadeOnDropdown(prioridadeString)">
                    <span>{{prioridadeString}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-area">
              <div class="table-head">
                <div class="content-head">
                  <div class="column colaborador"><span>Colaborador</span></div>
                  <div class="column status">Status</div>
                </div>
              </div>
              <div class="table-body">
                <div class="content-body">
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Rubens Kleinschmidt Júnior</span>
                        <span class="email">rubenskleinschmidtjr@gmail.com</span>
                      </div>
                      <div class="status">
                        <span>Em Aprovação</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Gustavo Francisco Martins</span>
                        <span class="email">gustavofrmartins@hbsis.com.br</span>
                      </div>
                      <div class="status">
                        <span>Vigente</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Arnon Henrique Tillmann da Silva</span>
                        <span class="email">arnonhenriquetillmannsilva@hbsis.com.br</span>
                      </div>
                      <div class="status">
                        <span>Reprovado</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Matheus Tonitti Batista</span>
                        <span class="email">matheustonibastista@gmail.com</span>
                      </div>
                      <div class="status">
                        <span>Em Aprovação</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Marino Gonçalves Neto</span>
                        <span class="email">marirogoncalvesneto@hbsis.com.br</span>
                      </div>
                      <div class="status">
                        <span>Em Aprovação</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Efraim Thomaz do Nascimento Ferreira</span>
                        <span class="email">efraimnascimento@gmail.com</span>
                      </div>
                      <div class="status">
                        <span>Vencido</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="content-user">
                      <div class="nome-colaborador">
                        <span class="nome-completo">Carlos Eduardo Lopes</span>
                        <span class="email">cadulospes@gmail.com</span>
                      </div>
                      <div class="status">
                        <span>Fila de Espera</span>
                      </div>
                    </div>
                    <div class="aprovar-button-single">
                      <button>Aprovar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons">
              <div class="button-aprove">
                <button>Aprovar todos</button>
              </div>
              <div class="button-sort">
                <button (click)="vagasSorteadas()" >Sortear vagas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="alert()">CLICK</button>
