.openDropdown {
  display: block !important;
}

/* Itens por página */

.items-page-area {
  position: relative;
  user-select: none;
}

.items-page-area .items-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ecebed;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  cursor: pointer;
  outline: 0;
}

.items-page-area .items-page {
  color: #0082BF;
}

.items-page-area .items-page option {
  color: #212529;
  font-size: 15px;
  outline: none;
}

.container-aprovacao {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1036px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
}

.container-aprovacao .content-aprovacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao {
  display: flex;
  width: 100%;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-page {
  border: 1px solid #ecebed;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .header-aprovacao {
  border-bottom: 1px solid #ecebed;
  padding: 15px 15px;
  width: 100%;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .header-aprovacao h2 {
  font-size: 22px;
  color: #1D285A;
  overflow: hidden;
  margin-bottom: 0;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 46px;
  padding: 0 15px;
  margin-bottom: 25px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area {
  position: relative;
  user-select: none;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ecebed;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area span {
  min-width: 100px;
  max-width: 100px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area-dropped {
  position: absolute;
  display: none;
  background: #FFF;
  width: 100%;
  padding: 5px 0;
  border: 1px solid #ecebed;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s height;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area-dropped .select-option {
  padding: 5px 15px;
  cursor: pointer;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area-dropped .select-option:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 0.2s background;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .alert-area {
  width: 100%;
  margin-top: 15px;
  padding: 0 15px;
  transition: 0.2s margin-top;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area {
  border-top: 1px solid #ecebed;
  border-bottom: 1px solid #ecebed;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #ecebed;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head .content-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head .content-head .column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  border-right: 1px solid #ecebed;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head .content-head .colaborador, .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .nome-colaborador {
  max-width: 250px;
  width: 100%;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head .content-head .status, .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .status {
  max-width: 145px;
  width: 100%;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body {
  padding: 5px 0;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  border-radius: 5px;
  border-bottom: 1px solid #ecebed;
}


.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-right: 5px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .nome-colaborador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 235px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .nome-colaborador .nome-completo {
  font-size: 16px;
  color: #0082BF;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .nome-colaborador .email {
  color: #7d7d7d;
  font-size: 13px;
  outline: none;
  word-break: break-all;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .status {
  padding: 0 0 0 15px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .status span {
  color: #7d7d7d;
  font-size: 15px;
  outline: none;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .aprovar-button-single {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  width: 100%;
  height: 38px;
  background: #0082BF;
  border-radius: 5px;
  border: 1px solid #ecebed;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .aprovar-button-single button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-transform: uppercase;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  height: 100%;
  padding: 0 30px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons .button-aprove {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0082BF;
  max-width: 155px;
  width: 100%;
  height: 36px;
  border-radius: 5px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons .button-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8d8d8d;
  max-width: 155px;
  width: 100%;
  height: 36px;
  border-radius: 5px;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons .button-aprove button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons .button-sort button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons .button-aprove:hover, .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .aprovar-button-single:hover {
  background: #006da1;
  transition: 0.2s background;
}

.container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .buttons .button-sort:hover {
  background: #707070;
  transition: 0.2s background;
}

@media only screen and (max-width: 870px) and (min-width: 0px) {
  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line  {
    flex-direction: column;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .aprovar-button-single {
    margin: 5px 0 10px;
    max-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body {
    overflow-x: auto;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao {
    flex-direction: column;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table {
    justify-content: center;
    height: 100%;
    padding: 0;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area {
    max-width: 135px;
    width: 100%;
    margin-right: 5px;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area {
    padding: 5px 15px;
    margin-right: 0;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table .dropdown-area .container-area-dropped {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.09);
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-page {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .actions-table {
    overflow-x: auto;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head .content-head {
    overflow: hidden;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user {
    flex-direction: column;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-head .content-head .colaborador, .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .nome-colaborador {
    max-width: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .container-aprovacao .content-aprovacao .content-area-aprovacao .content-actions .table-area .table-body .content-body .content-line .content-user .status {
    max-width: none;
    padding: 0;
    margin-bottom: 5px;
  }
}


