/* #dropdown-modelos {
  display: block;
} */

.container-locacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: 45px auto 50px;
    padding: 0 15px;
}

h1, label, input, span, select {
  font-family: 'Poppins', sans-serif;
}

.container-locacao .content-locacao {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, .1);
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ebeced;
}

.container-locacao .content-locacao .header-content-locacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 15px;
    border-bottom: 1px solid #ebeced;
}

.container-locacao .content-locacao .header-content-locacao h1 {
    font-size: 25px;
    color: #0082BF;
}

.container-locacao .content-locacao .form-locacao {
    margin-top: 25px;
    padding: 0 25px 25px;
}

.container-locacao .content-locacao .form-locacao .content-input {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    gap: 15px;
}

.container-locacao .content-locacao .form-locacao .content-input .input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ebeced;
    outline: none;
}

.container-locacao .content-locacao .form-locacao .content-input .input-area select {
  padding: 11.5px 0;
}

.container-locacao .content-locacao .form-locacao .content-input .input-area option, .container-locacao .content-locacao .form-locacao .content-input .input-area select {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    color: #1D285A;
    outline: none;
    cursor: pointer;
}

.container-locacao .content-locacao .form-locacao .content-input .input-area input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
    color: #1D285A;
    outline: none;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-modelo {
  background: #ebeced;
  cursor: not-allowed;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-marca #codigo-marca {
  cursor: not-allowed;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-marca {
  background: #ebeced;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-modelo {
  background: #ebeced;
}

.container-locacao .content-locacao .form-locacao .content-input #input-modelo {
  cursor: not-allowed;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-cor {
  background: #ebeced;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-cor #codigo-cor {
  cursor: not-allowed;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-periodo {
  background: #ebeced;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-periodo #codigo-periodo {
  cursor: not-allowed;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-placa {
  background: #ebeced;
}

.container-locacao .content-locacao .form-locacao .content-input #input-area-placa #input-placa {
  cursor: not-allowed;
}

.container-locacao .content-locacao .form-locacao .area-button-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin-top: 12px;
    border-radius: 5px;
    background: #0082BF;
    border: 1px solid #ebeced;
    transition: opacity .2s;
    cursor: pointer;
    font-size: 15px;
}

.container-locacao .content-locacao .form-locacao .area-button-signup:hover{
    background: #006da1;
    transition: 0.2s background;
}

.container-locacao .content-locacao .form-locacao .area-button-signup button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo {
  display: flex;
  width: 100%;
  padding: 0 25px;
  margin-bottom: 20px;
  user-select: none;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .input-checkbox {
  display: flex;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .container-checkbox {
  min-width: 21px;
  max-width: 21px;
  width: 100%;
  min-height: 20px;
  max-height: 20px;
  width: 100%;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .container-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  background: #fafafa;
  border: 1px solid #ebeced;
  border-radius: 2px;
  opacity: 0.7;
  cursor: not-allowed;
  margin-top: 15px;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .text-aceitar-termo {
  font-size: 15px;
  margin-left: 10px;
  color: #7d7d7d;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .text-aceitar-termo strong {
  color: #0082BF;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .text-aceitar-termo strong:hover {
  border-bottom: 1px solid #0082BF;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .container-checkbox .span-checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .span-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #0082BF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo .container-checkbox input:checked ~ .span-checkmark:after  {
  display: block;
}

.container-locacao .content-locacao .form-locacao .content-checkbox-termo label:checked {
  background: #0082BF !important;
}

/* DROPDOWN Modelo */

.container-locacao .content-locacao .form-locacao .content-input .content-modelos {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container-locacao .content-locacao .form-locacao .content-input .content-modelos .container-dropdown-modelos {
  position: absolute;
  top: 45px;
  left: 4px;

  width: calc(100% - 8px);
  min-height: 50px;
  max-height: 195px;
  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  z-index: 9999;
  padding: 5px 0;
  background: #FFF;
  border: 1px solid #ebeced;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  transition: 0.2s height;
}

.container-locacao .content-locacao .form-locacao .content-input .content-modelos .container-dropdown-modelos .card-modelo-vehicle {
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 5px;
  outline: 0;
  user-select: none;
}

.container-locacao .content-locacao .form-locacao .content-input .content-modelos .container-dropdown-modelos .card-modelo-vehicle span {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 15.5px;
  color: #1D285A;
  outline: none;
}

.container-locacao .content-locacao .form-locacao .content-input .content-modelos .container-dropdown-modelos .card-modelo-vehicle:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s background;
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  .container-locacao .content-locacao .form-locacao .content-input {
    grid-template-columns: 100%;
  }

  .container-locacao .content-locacao .form-locacao .content-input {
    padding: 0 15px 0px;
  }
}

@media only screen and (max-width: 450px) and (min-width: 0px) {
  .container-locacao .content-locacao .form-locacao {
    padding: 0 15px 25px;
    transition: 0.2s padding;
  }
}
