<div class="container-locacao">
  <div class="content-locacao" *ngIf="authGlobal.authority === 'user'; else acessoNegado">
    <div class="header-content-locacao">
      <h1>Locação de vaga</h1>
    </div>
    <form class="form-locacao" autocomplete="on" name="form" (ngSubmit)="onSubmit()" #formLocacao="ngForm">
      <modal-term></modal-term>
      <div>
        <alert></alert>
      </div>
      <div class="content-input">
        <div class="input-area">
          <select name="codigo-tipo" id="codigo-tipo" (change)="selectOption($event.target.value)"
            (change)="setVehicleHasOption()" (change)="listarAllMarcas()" (change)="getPeriodos()">
            <option>SELECIONAR TIPO</option>
            <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
          </select>
        </div>
        <div class="input-area input-area-disabled" id="input-area-marca" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO'}">
          <select (change)="alterarMarca($event.target)" name="codigo-marca" id="codigo-marca" [ngClass]="{'enable-input':tipo === 'CARRO' || tipo === 'MOTO'}"
            [disabled]="vehicleHasOption || tipo === undefined" class="input-area-disabled">
            <option>MARCA</option>
            <option *ngFor="let marca of listaAllMarcas" [value]="marca" id="marca">{{marca.nome}}</option>
          </select>
        </div>
      </div>
      <div class="content-input">
        <div class="content-modelos">
          <div class="input-area input-area-disabled" id="input-area-modelo" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO'}">
            <input (keyup)="searchModelo($event)" type="search" placeholder="Pesquisar modelos"
              [disabled]="selectedMarca === undefined" value={{modelo}} id="input-modelo" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO'}" class="input-area-disabled">
          </div>
          <div class="container-dropdown-modelos" *ngIf="modelosSearched !== undefined" id="dropdown-modelos">
            <div *ngFor="let modelo of modelosSearched" class="card-modelo-vehicle"
              (click)="selectModeloOnSearch(modelo)">
              <span>{{modelo.modelo}}</span>
            </div>
          </div>
        </div>
        <div class="input-area input-area-disabled" id="input-area-cor" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO' || tipo === 'BICICLETA' || tipo === 'PATINETE'}">
          <select (change)="selectCor($event.target)" name="codigo-cor" id="codigo-cor" [ngClass]="{'enable-input':tipo === 'CARRO' || tipo === 'MOTO' || tipo === 'BICICLETA' || tipo === 'PATINETE'}"
            [disabled]="tipo === undefined || tipo === 'SELECIONAR TIPO'" class="input-area-disabled">
            <option>SELECIONAR COR</option>
            <option *ngFor="let cor of cores" value="{{corSelecionada}}">{{cor}}</option>
          </select>
        </div>
      </div>
      <div class="content-input">
        <div class="input-area input-area-disabled" id="input-area-placa" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO'}">
          <input type="text" (paste)="formatPlacaLettersToUppercase($event)" (keyup)="formatPlacaLettersToUppercase($event)" (keypress)="formatPlacaLettersToUppercase($event)" name="placa-veiculo" placeholder="Placa do veículo" [(ngModel)]="form.placaVehicle"
            #plate="ngModel" id="input-placa" [disabled]="vehicleHasOption || tipo === undefined" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO'}" class="input-area-disabled">
        </div>
        <div class="input-area input-area-disabled" id="input-area-periodo" [ngClass]="{'enable-area':tipo === 'CARRO' || tipo === 'MOTO' || tipo === 'BICICLETA' || tipo === 'PATINETE'}">
          <select (change)="selectPeriodo($event.target)" name="codigo-periodo" id="codigo-periodo" [ngClass]="{'enable-input':tipo === 'CARRO' || tipo === 'MOTO' || tipo === 'BICICLETA' || tipo === 'PATINETE'}"
            [disabled]="tipo === undefined || tipo === 'SELECIONAR TIPO'" class="input-area-disabled">
            <option>PERÍODO</option>
            <option *ngFor="let periodo of listaPeriodos" [value]="periodo" id="periodo">{{periodo.descricao}}</option>
          </select>
        </div>
      </div>
      <div class="content-input">
        <div class="input-area">
          <input type="text" name="codigo-usuario" placeholder="Matrícula do usuário" [(ngModel)]="form.matricula"
            #matricula="ngModel">
        </div>
        <div class="input-area">
          <input type="text" name="moradia" placeholder="Cidade" [(ngModel)]="form.cidade" #cidade="ngModel">
        </div>
      </div>
      <div class="content-checkbox-termo">
        <div class="input-checkbox">
          <label class="container-checkbox" for="input-termo-locacao">
            <input [disabled]="true" id="input-termo-locacao" type="checkbox">
            <span class="span-checkmark"></span>
          </label>
          <span class="text-aceitar-termo">Aceito o <strong (click)="openModalTermo($event)">Termo de Locação
              HBSIS</strong>. Ao aceitar você concorda
            com os requisitos proposto no termo.</span>
        </div>
      </div>
      <div class="area-button-signup">
        <button type="submit">Cadastrar locação</button>
      </div>
    </form>
  </div>
</div>

<ng-template #acessoNegado>
  <app-notfound></app-notfound>
</ng-template>
