<div class="container">
  <div class="container-page">
    <div class="content-login">
      <div class="header-content-login">
        <h1>Efetuar login</h1>
      </div>
      <form class="form-login" (ngSubmit)="onSubmit($event)" autocomplete="off">
        <div>
          <alert></alert>
        </div>
        <div class="input-area">
          <label>Email:</label>
          <div class="input-div">
            <input [(ngModel)]="form.email" type="text" name="email" placeholder="nome.sobrenome@hbsis.com.br">
          </div>
        </div>
        <div class="input-area">
          <label>Senha:</label>
          <div class="input-div">
            <input [(ngModel)]="form.password" type="password" name="password">
          </div>
        </div>
        <div class="button-enter">
          <button type="submit">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
