<div class="container">
    <div class="container-page">
        <div class="content-login">
            <div class="header-content-login">
                <h1>Entrar</h1>
            </div>
            <form class="form-login" autocomplete="off">
                <div class="input-area">
                    <label>Email:</label>
                    <div class="input-div">
                        <input type="text" name="email">
                    </div>
                </div>
                <div class="input-area">
                    <label>Senha:</label>
                    <div class="input-div">
                        <input type="password" name="password" autocomplete="on">
                    </div>
                </div>
                <div class="button-enter">
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>

        <div class="content-signup">
            <div class="area-signup">
                <div class="header-content-signup">
                    <span>Ainda não criou sua conta?</span>
                </div>
                <div class="area-button-signup">
                    <button type="submit">Cadastre-se</button>
                </div>
            </div>
        </div>

    </div>
</div>
