<div class="container-main">
  <div class="content-main">
    <article class="hbsis-ambev-about">
      <div>
        <alert></alert>
      </div>
      <div class="area-image">
        <img src="../../assets/HB-Ambev_Logo.png" alt="HBSIS | AMBEV - LOGO" />
      </div>
      <div class="about-text">
        <h3>We're for tech and beer!</h3>
        <span>Para a HBSIS, cerveja e tecnologia têm tudo a ver. E é por isso que estamos ao lado da Ambev há mais de 20
          anos!</span>
      </div>
    </article>
    <article class="hbsis-locacao-about">
      <div class="about-text">
        <h3>Sistema Locação HBSIS</h3>
        <span>Sistema de locação de vagas da HBSIS, utilizado para gararem do predio!</span>
      </div>
      <div class="area-image">
        <img src="../../assets/hbsislogo2015.png" alt="HBSIS - LOGO" />
      </div>
    </article>
    <div class="middle-interval">
      <span>Nossas funcionalidades</span>
    </div>
    <div class="grid-cards-functions">
      <a routerLink="/locacao-vaga" class="card-function">
        <div class="card-content">
          <div class="image-area-function">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
              stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 22s-8-4.5-8-11.8A8 8 0 0 1 12 2a8 8 0 0 1 8 8.2c0 7.3-8 11.8-8 11.8z" />
              <circle cx="12" cy="10" r="3" /></svg>
          </div>
          <div class="content-info-card">
            <h4>Locação Vagas</h4>
            <span>Formulário para locação de vagas. Clique aqui para alocar seu veiculo.</span>
          </div>
        </div>
      </a>
      <a routerLink="/cadastrar/colaboradores" class="card-function">
        <div class="card-content">
          <div class="image-area-function">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
              stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
          </div>
          <div class="content-info-card">
            <h4>Colaboradores</h4>
            <span>Gerenciar colaboradores. Cadastrar novos colaboradores</span>
          </div>
        </div>
      </a>
      <a routerLink="/gerenciar" class="card-function">
        <div class="card-content">
          <div class="image-area-function">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
              stroke="#0082BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="4" y1="21" x2="4" y2="14"></line>
              <line x1="4" y1="10" x2="4" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="12"></line>
              <line x1="12" y1="8" x2="12" y2="3"></line>
              <line x1="20" y1="21" x2="20" y2="16"></line>
              <line x1="20" y1="12" x2="20" y2="3"></line>
              <line x1="1" y1="14" x2="7" y2="14"></line>
              <line x1="9" y1="8" x2="15" y2="8"></line>
              <line x1="17" y1="16" x2="23" y2="16"></line>
            </svg>
          </div>
          <div class="content-info-card">
            <h4>Configurações</h4>
            <span>Gerenciar de marcas e modelos. Configuração de modelos em csv.</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
