<div class="container-funcionality">
  <div class="content-funcionality">
    <div class="content-area-funcionality">
      <app-functionality-button-area></app-functionality-button-area>
      <div class="content-page">
        <div class="display-area">
          <div class="image-content">
            <img src="../../assets/HB-Ambev_Logo.png" alt="HBSIS AMBEV - LOGO">
          </div>
          <div class="content-text">
            <div class="content-info">
              <h1>HBParking</h1>
              <span>Esse é o sistema de locação de vagas da HBSIS, chamado HBParking. Aloque sua vaga agora para ter um lugar reservado para seu carro aqui na HB ;)</span>
            </div>
            <a routerLink="/locacao-vaga" class="button-href">
              <span>Aloque sua vaga!</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
